<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Departure Airport: </div>
  <div><%= flight.airport %></div>
  <div>Flight Number: </div>
  <div><%= flight.flightNo %></div>
  <div>Departure Time: </div>
  <div><%= flight.departs %></div>
  
</section>

<div>
  <a href="/flights/<%= flight._id %>/tickets/new" method="GET">ADD TICKET</a>
</div>

<% if (tickets.length) { %>
  <table>
    <thead>
      <tr>
        <th>Flight ID</th>
        <th>SeatNo</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% tickets.forEach(function(t, idx) { %>
        <tr>
            <td><%= t.flight %></td>
            <td><%= t.seat %></td>
            <td><%= t.price %></td>
            <td>
            <form action="/tickets/<%= t._id %>?_method=DELETE" class="delete-form"	method="POST">
                <button class="btn btn-primary" type="submit">DELETE</button>
            </form>
            </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Tickets Yet</h5>
<% } %>

<br><br><h2>Destinations</h2>
<form id="add-destination-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">

    <label>Arrival Airport:</label>
    <select type="text" name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN" selected>DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select>

    <label>Cabin Selection:</label>
    <select type="text" name="cabin">
        <option value="First Class">First Class</option>
        <option value="Business">Business</option>
        <option value="Economy" selected>Economy</option>
    </select>

    <label>Arrival Date:</label>
    <input type="datetime-local" name="arrival" value="<%= destDate %>" autocomplete="off"></input>
    <input type="submit" value="Add Destination">

</form>

<% if (flight.destinations.length) { %>
  <table>
    <thead>
      <tr>
        <th>Arrival Airport</th>
        <th>Cabin</th>
        <th>Arrival Time</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(d, idx) { %>
        <tr>
            <td><%= d.airport %></td>
            <td><%= d.cabin %></td>
            <td><%= d.arrival %></td>
            <td>
            <form action="/destinations/<%= d._id %>?_method=DELETE" class="delete-form"	method="POST">
                <button class="btn btn-primary" type="submit">DELETE</button>
            </form>
            </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Destinations Yet</h5>
<% } %>

<%- include('../partials/footer') %>